.title--xxx-large {
	padding-top: 20px;
  font-size: 60px;
  line-height: 45px;
}

.title--xx-large {
  font-size: 30px;
  line-height: 35px;
}

.container-home {
	color: #5e5e5e;
}

.btn-signup {
	color: #fff;
}

.btn-login {
	padding: 7px 7px 7px 7px;
	font-size: 18px;
	line-height: 18px;
	background-color: #2F2ECC;
	color: #fff;
	margin-bottom: 20px;
	margin-top: 10px;
}

.border-login {
	padding-left: 10px;
	border-left: 1px solid;
}

.iconx-fb-login{
  background-image: url('../images/fb.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  float: left;
  background-size: 40px;
}

.iconx-fb{
  background-image: url('../images/fb.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 19px;
  float: left;
  background-size: 19px;
}