<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.atmobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tulupa</name>
    <description>
        Video lectures 
    </description>
    <author email="altachian@gmail.com" href="http://github.com/tachian">
        Apache Cordova Team
    </author>
    <content src="/index.html" />
    <access origin="*" />
    <icon src="icon.png"/>
    <gap:splash src="splash.png" />
</widget>
