<header class="container-fluid">
  <h2 class="text-center">
    Conquiste seus certificados!<br />
    <small>Queremos conversar sobre seus objetivos nos estudos e na carreira. Deixe seu contato.</small>
  </h2>
</header>
<article class="container-fluid">
  <div ng-controller="Step4Controller" class="container">

    <form role="form">

      <div class="row">
      
        <div class="col-lg-4 col-md-4 col-md-offset-4 col-sm-6 col-xs-8 col-xs-offset-2">

            <div class="col-md-3 col-xs-3 col-xs-offset-0">
              <div class="form-group">
                <label>Telefone</label>
                <input type="text" class="form-control text-center" minlength="2" maxlength="3" placeholder="DDD" ng-model="phone_area_code" numbers-only>
              </div>
            </div>

            <div class="col-md-8 col-xs-8 col-xs-offset-0">
              <div class="form-group">
                <label>&nbsp;</label>
                <input type="text" class="form-control" minlength="8" maxlength="9" placeholder="0000.0000" ng-model="phone_number" numbers-only>
              </div>
            </div>

          </div>

        </div>

        <div class="row">

          <div class="col-lg-4 col-md-4 col-md-offset-4 col-sm-6 col-xs-8 col-xs-offset-2">

            <div class="col-md-3 col-xs-3 col-xs-offset-0">
              <div class="form-group">
                <label>Celular</label>
                <input type="text" class="form-control text-center" minlength="2" maxlength="3" placeholder="DDD" ng-model="mobile_phone_area_code" numbers-only>
              </div>
            </div>

            <div class="col-md-8 col-xs-8 col-xs-offset-0">
              <div class="form-group">
                <label>&nbsp;</label>
                <input type="text" class="form-control" minlength="9" maxlength="10" placeholder="00000.0000" ng-model="mobile_phone_number" numbers-only>
              </div>
            </div>

          </div>

        </div>

      </form>

      <div class="row text-center pull-down">
        <button type="button" class="btn btn-default btn-action" ng-click="save();">Concluir</button>
      </div>

    </div>

</article>

