<div class="modal hide" id="forgot-password-success-box" vdc-resend-confirmation-success>
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
      ×
    </button>
    <h2 class="title title--secondary">E-mail enviado!</h2>
  </div>
  <div class="modal-wrapper">
    <hr class="l-row--down l-row--top">
  </div>
  <div class="modal-body">
    <div class="alert alert-success" style="display: block;"><strong>Verifique sua caixa de entrada.</strong></div>
  </div>
  <!-- <div class="modal-footer">
    <div class="l-centralize--h">
      Não tem uma conta ainda?
      <a data-dismiss="modal" data-toggle="modal" href="#signup-box" role="button">
        Cadastre-se agora.
      </a>
    </div>
  </div> -->
</div>