<div class="modal fade" id="signup-success-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" vdc-signup-success>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="padding: 10px 10px 0px 15px;">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
          ×
        </button>
        <h2 class="title">Parabéns!</h2>
      </div>
      <div class="modal-body" style="padding: 10px 20px 0px 20px;">
        <p>
          Sua conta foi criada com sucesso. Acabamos de enviar um e-mail para {{email}} com um link para confirmação de seu cadastro.
        </p>
        <p>
          <strong>Atenção: você precisa confirmar seu cadastro em até 48 horas. Após esse período, sua conta será bloqueada.</strong>
        </p>
        <p>
          Se você não recebeu o e-mail, por favor, verifique a pasta "spam", pois alguns serviços de e-mail colocam mensagens automáticas nessa pasta.
        </p>
        <p>
          Aproveite e bons estudos!
        </p>
      </div>
      <div class="modal-footer" style="padding: 10px 10px 10px; margin-top: 10px;">
        <div class="l-centralize--h">
          <a aria-hidden="true" data-dismiss="modal" href="#" type="button">Continue navegando no Veduca &gt;</a>
        </div>
      </div>
    </div>
  </div>
</div>
