<div id="not-supported" class="hidden-xs">
  <div class="title--xx-large">
    Somente para Mobile.
  </div>
</div>


<div id="home" class="visible-xs">
  <div class="container container-home">
    <div class="row-fluid">
      <div class="title--xxx-large">
        AMPLIE
      </div>
      <br/>
      <div class="title--xx-large">
        AS POSSIBILIDADES
        <br/>
        PARA SUA CARREIRA
      </div>
      <ul class="unstyled">
        <li>
          Estude de graça, a qualquer hora, no seu ritmo, do seu jeito
        </li>
        <li>
          Explore 289 cursos das melhores instituições de ensino do mundo
        </li>
        <li>
          Conheça nossas opções de cursos certificados
        </li>
      </ul>

      <a class="pull-left btn-signup" ng-click="openSignUp();">Cadastre-se!</a>
      <a class="pull-right btn-login" ng-click="openLogin();">Entrar</a>
    </div>
  </div>
</div>