<div class="container-fluid">

	<div class="container" ng-cloak ng-show="subject">
		<div class="title-header-browse"><h4>{{subject.name}}</h4></div>
		<div class="title-header-browse">
			<h4>
				<small>
					<div ng-if="subject.total_courses==1">{{subject.total_courses}} curso</div>
					<div ng-if="subject.total_courses>1">{{subject.total_courses}} cursos</div>
				</small>
			</h4>
		</div>
	</div>

	<div class="container" ng-cloak ng-show="!subject">
		<div class="title-header-browse"><h4>{{listCourses[0].university.name}}</h4></div>
		<div class="title-header-browse">
			<h4>
				<small>
					<div ng-if="listCourses.length==1">{{listCourses.length}} curso</div>
					<div ng-if="listCourses.length>1">{{listCourses.length}} cursos</div>
				</small>
			</h4>
		</div>
	</div>

	<div class="media media-browse" ng-repeat="course in listCourses">
		<a class="pull-left" ng-href="#/course/{{course.id}}" style='width: 90px; height: 50px;'>
			<img class="media-object" ng-src="http://cdn.veduca.com.br/uploads/course/{{course.id}}/preview_{{course.id}}.jpg" alt="Responsive image" style='width: 90px; height: 50px;'>
			<div ng-class="{'icon-brazil': course.subtitles}"></div>
		</a>
		<a ng-href="#/course/{{course.id}}">
			<div class="media-body">
				<h5 class="media-heading">{{course.name}}</h5>
				<div class="browse-inf">
					{{course.teacher}} - {{course.university.name}}
				</div>
			</div>
		</a>
	</div>
</div>