<div class="container-fluid">

	<div class="container" ng-cloak>
		<div class="header-browse">
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<div class="container">
						<div class="pull-left">
							<h5>{{listCourses.name}}</h5>
						</div>
						<div class="pull-right">
							<h5>
								<div ng-if="listCourses.total_courses==1">{{listCourses.total_courses}} curso</div>
								<div ng-if="listCourses.total_courses>1">{{listCourses.total_courses}} cursos</div>
							</h5>
						</div>
					</div>
			  </div>
			</div>
		</div>
	</div>

	<div class="media media-browse" ng-repeat="course in listCourses.courses">
		<a class="pull-left" ng-href="#/course/{{course.id}}" style='width: 90px; height: 50px;'>
			<img class="media-object" ng-src="http://cdn.veduca.com.br/uploads/course/{{course.id}}/preview_{{course.id}}.jpg" alt="Responsive image" style='width: 90px; height: 50px;'>
			<div ng-class="{'icon-brazil': course.subtitles}"></div>
		</a>
		<a ng-href="#/course/{{course.id}}">
			<div class="media-body">
				<h5 class="media-heading">{{course.name}}</h5>
				<div class="browse-inf">
					{{course.teacher}} - {{course.university.name}}
				</div>
			</div>
		</a>
	</div>
</div>