<div class="container-fluid">

  <div class="video-overlay" ng-if="currentLecture">
	  <div class="click-area" ng-click="destroyPlayer()"></div>
		<video  videojs class="video-js vjs-default-skin" id="videoPlayer" webkit-playsinline>
			<source src="" type='video/youtube'>
			<track kind="subtitles" src="" srclang="pt" label="Português" default></track>
 		</video>

	</div>

	<div class="container" ng-cloak>
		<div class="title-header-browse"><h4>{{courseInfo.name}}</h4></div>
		<div class="title-header-browse">
			<h4>
			   <small>{{courseInfo.teacher}} - {{courseInfo.university_name}}</small>
			</h4>
	  </div>
	</div>


	<div class="media media-browse" mv-complete-lecture ng-repeat="lecture in lectures | orderBy:'order'">
		<div class="pull-left" style="width: 70px; height: 60px;"> 
			<img class="media-object" ng-src="http://tulupa.s3.amazonaws.com/lectures/{{lecture.id}}.jpg" alt="Responsive image" ng-click="showPlayer(lecture, lecture.currentPart)" style='width: 70px; height: 60px;'>
			<div ng-class="{'icon-brazil': lecture.subtitle != ''}"></div>
		</div>
		<a>
			<div class="media-body">
	      <div class='clearfix'>
	      	
	        <div class='pull-left' style="width: 100%;" ng-click="showPlayer(lecture, lecture.currentPart)">
	          <header>
	            {{lecture.order}}. {{lecture.name}}
	          </header>
	        </div>
		    </div>
	            
				<div class="progress-mba-browse" ng-show="lecture.number_parts > 1">		
				  <div class="detail-progress-browse">
				  	{{lecture.perc | number:2}}%
					</div>
					<div class="progress-box progress-box-browse">
						<div class="progress progress-browse">
						  <div class="progress-bar progress-bar-browse progress-bar-mba" role="progressbar" aria-valuenow="{{lecture.visited_parts}}" aria-valuemin="0" aria-valuemax="{{lecture.parts.lenght()}}" style="width: {{lecture.perc}}%;">
						  </div>
						</div>
					</div>
					<div class="sel-part" mv-complete-part>
						<a><span class="glyphicon glyphicon-chevron-left" ng-click="previousPart(lecture);"></span></a>
						<strong>{{lecture.currentPart.order}}</strong>
						<a><span class="glyphicon glyphicon-chevron-right" ng-click="nextPart(lecture);"></span></a>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
