<nav class="navbar navbar-default navbar-fixed-top navbar-mobile" role="navigation" ng-controller="HeaderController">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu" ng-if="signed_in()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div tlp-back>
        <div class="pull-left navbar-brand navbar-brand-mobile icon-back glyphicon glyphicon-chevron-left" ng-if="showBackButton()"></div>
        <img class="navbar-icon pull-left" ng-src="http://tulupa.s3.amazonaws.com/home/logo_1024_1024.png">
      </div>
      <div class="brand navbar-brand navbar-brand-mobile">{{title}}</div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-menu" ng-if="signed_in()">
      <ul class="nav navbar-nav">
        <li><a data-toggle="collapse" data-target="#main-menu" href="#/subjects">Assuntos</a></li>
        <li><a data-toggle="collapse" data-target="#main-menu" href="#/universities">Universidades</a></li>
        <li><a data-toggle="collapse" data-target="#main-menu" href="#/myCourses">Meus Cursos</a></li>
        <li><a data-toggle="collapse" data-target="#main-menu" href='' tlp-logout>Sair</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>